/.github/**
/.vscode/**
/.vs/**
/build/**
/fonts/**
/images/**
/node_modules/**
/tools/**
**/*.js
**/*.css
**/*.d.ts
**/*.map
**/*.yml
**/*.md
**/*.json
**/*.scss
**/*.html
.eslintrc
.eslintignore
LICENSE