node_modules
dist
build
.vs
.vscode
*.code-workspace
build.js
.bat
dev-app-update.yml
*.map
# We use SASS
*.css
# We use TypeScript... Sometimes
*.js
!settings-page/settingspage-preload.js
!serverlist-page/serverlistpage-preload.js
