/node_modules
/dist
/build
.vs
electron-builder.yml
*.code-workspace
build.js
build.bat
*.map

# list of .js files that are just compiled versions of .ts
main.js

serverlist-page/serverlistpage.js

modules/mod_list_loader.js
modules/mod_manager.js
modules/utilities.js

modules/mod_sources/github_source.js
modules/mod_sources/jsonlist_source.js
modules/mod_sources/mod_source_base.js