/* So I don't have to write these everytime for every page. */
:root {
    --branding-orange: #CA712D;
    --branding-black: #2C3436;
    --white: #FFF;
    --white-2: #EEE;
    --black: #000;
    --black-2: #111;
    --gray: #252525;
    --default-bg-color: #2B2826;
    --dark-orange: #B35215;
    --error: #D62828;
    --subtle-shadow: rgba(0,0,0,0.35);
    --not-so-subtle-shadow: rgba(0,0,0,0.7);
    --button-update-download-color: #EBBD34;
    --button-update-downloading-color: #F5F238;
    --button-update-update-color: #388DF5;
    --button-update-updated-color: #47B82E;
    --button-update-alert-secondary-color: #2963A9;
    --button-server-list: #FF8E37;
    --button-remove-mod: #B74848;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    line-height: 110%
}

@keyframes fadeInSuperFancyTransition {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

select {
    cursor: pointer;
    width: -webkit-fill-available;
}

button:active {
    background-color: #222;
}

input {
    width: 100%;
    padding: 1vh;
    border: 0;
    outline: 0;
    border-radius: 1vh;
    text-align: center;
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 2.8vh;
    box-shadow: -0.5vh 0.5vh 0px #000;
}

.button {
    padding: 1vh;
    background: rgba(50,50,50,0.75);
    border-color: #B35215;
    border-style: solid;
    border-width: 0.1vh;
    color: #E6E6E6;
    font-size: 3vh;
    font-family: Roboto Light, Arial, sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
    user-select: none;
    z-index: 0;
}

.button::before {
    content: "";
    background: #B35215;
    position: absolute;
    width: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -8px;
    z-index: -1;
    transform: skewX(-20deg);
    transition: 0.2s;
}

.button:hover::before {
    width: 142%;
    z-index: -1;
}

.button:hover {
    color: #FFF;
}

.button:active {
    background-color: #222;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-noflex {
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #222; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #888; }
