html, body { height: 100%; }

body {
    font-family: Roboto Medium, Arial, sans-serif;
    display: flex;
    background: linear-gradient(0deg, var(--black) 0%, var(--gray) 100%);
    user-select: none;
    overflow: hidden;
}

#sidebar {
    min-width: 300px;
    width: 27%;
    max-width: 500px;
    background-color: var(--black-2);
    padding: 3vh;
    z-index: 1;
    overflow-x: hidden;
    position: relative;
}

#modlist-updating {
    margin: 0 auto;
    width: fit-content;
    padding: 3vh;
    color: var(--white-2);
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 3.8vh;
    text-align: center;
}

.entry {
    margin-bottom: 1.5vh;
    height: 10vh;
    border-radius: 11vh;
    color: var(--white-2);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.entrySelected {
    background-color: var(--dark-orange);
    color: var(--white);
    transition: 0s;
}

.entrySelected img {
    box-shadow: 0px 0px 20px var(--subtle-shadow);
}

.entry:last-child {
    margin: 0px;
}

.entry:hover {
    color: var(--white);
}

.entry img {
    width: 10vh;
    border-radius: 10vh;
    pointer-events: none;
}

.entry:hover img {
    box-shadow: 0px 0px 20px var(--subtle-shadow);
}

.entry::before {
    content: "";
    background: var(--dark-orange);
    position: absolute;
    width: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50px;
    transition: 0.25s;
    z-index: -1;
    transform: skewX(-25deg);
}

.entry:hover::before {
    width: 135%;
    z-index: -1;
}

.mod-info-sidebar {
    margin-left: 1.35vh;
}

.mod-info-sidebar h2, .mod-info-sidebar p {
    margin: 0;
    line-height: 100%;
    font-family: Roboto Light, Arial, sans-serif;
}

.mod-info-sidebar h2 {
    font-size: 3.2vh;
}

.mod-info-sidebar p {
    font-size: 2vh;
    font-family: Open Sans Light, Arial, sans-serif;
}

.updatealertnotification {
    -webkit-mask-image: url(images/circle.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    text-align: center;
    position: absolute;
    right: 20px;
    width: 10px;
    height: 10px;
}

#box-of-buttons {
    width: 100%;
    display: flex;
    margin-bottom: 3vh;
}

#box-of-buttons button {
    width: 100%;
    font-size: 3.2vh;
    padding: 0.55vh;
    transition: 0.2s;
    border-radius: 1vh;
    margin-left: 1.5vh;
    border: 1px solid #1110;
}

#box-of-buttons button:first-child {
    margin-left: 0px;
}

#box-of-buttons .config-button:hover {
    background-color: #333;
    color: var(--white-2);
    border: 1px solid var(--gray);
}

#box-of-buttons .config-button:active {
    background-color: var(--gray);
}

.mdi-loading::before {
    animation-name: rotateThatThing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.55, 0, 0.02, 0.99);
}

@keyframes rotateThatThing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(720deg); }
}

@keyframes updateAlert {
    0% { background-color: var(--button-update-update-color); }
    100% { background-color: var(--button-update-update-color); }
}

.update-buttons:hover {
    border: 1px solid var(--gray) !important;
}

#update-button-download {
    background-color: var(--button-update-download-color);
}

#update-button-downloading {
    background-color: var(--button-update-downloading-color);
    pointer-events: none;
}

#update-button-update {
    background-color: var(--button-update-update-color);
    animation-name: updateAlert;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#update-button-updated {
    background-color: var(--button-update-updated-color);
    cursor: default;
}

#update-button-fail {
    background-color: var(--error);
    cursor: not-allowed;
}

#launcher-version {
    width: fit-content;
    color: var(--white-2);
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 2vh;
    text-shadow: 1px 1px 1px var(--black);
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#content-dummy {
    width: 75%;
}

.default-bg {
    background-image: url(images/logos/tf2logo_dark_fade.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

#content {
    min-width: 630px;
    width: 73%;
    height: 100%;
    background-color: var(--default-bg-color);
    background-size: cover;
    background-position: center;
    display: none;
    overflow: hidden;
    position: relative;
    border-left: solid;
    border-color: var(--black-2);
    transition: 0.2s;
    animation-name: fadeInSuperFancyTransition;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    flex-direction: column;
}

#content-area {
    height: 100%;
    z-index: 1;
    position: relative;
}

#content-area-mod {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mod-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-of-mod-buttons {
    display: inline-flex;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
}

#server-list {
    background-color: var(--button-server-list);
}

#remove-mod {
    background-color: var(--button-remove-mod);
}

#box-of-mod-buttons button {
    display: block;
    margin-left: 1.5vh;
    padding: 1.5vh;
    text-shadow: 0px 0px 2vh var(--black);
    font-size: 3.5vh;
    color: var(--white-2);
    border-radius: 10vh;
    transition: 0.2s;
    z-index: 1;
}

#box-of-mod-buttons button:hover {
    filter: brightness(0.9);
    transform: scale(0.9);
}

#box-of-mod-buttons button:first-child {
    margin-left: 0px;
}

#box-of-mod-buttons button:active {
    background-color: var(--gray);
    transform: scale(0.85);
}

#title-image-holder {
    width: 67vh;
    max-width: 72vh;
}

#title-image {
    width: 100% !important;
    pointer-events: none;
}

#title-header {
    font-size: 55px;
    font-family: Roboto Light, Arial, sans-serif;
    color: var(--white-2);
    line-height: 55px;
    text-align: center;
    font-weight: bold;
}

#content-text {
    margin: 0;
    font-size: 2.5vh;
    font-family: Roboto Thin, Arial, sans-serif;
    text-align: center;
    text-shadow: 0px 0px 2vh var(--black);
    padding: 2vh;
    color: var(--white);
}

#mod-info-box {
    display: flex;
    pointer-events: auto;
}

#mod-info-box button {
    width: 7vh;
    height: 7vh;
    border-radius: 7vh;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

#mod-info-box button:hover {
    transform: scale(0.9);
    background-color: var(--not-so-subtle-shadow);
    cursor: pointer;
}

/* SOCIAL MEDIA LOGOS */
#socialMediaTwitter { background-image: url(images/logos/social/twitter.svg); }
#socialMediaInstagram { background-image: url(images/logos/social/instagram.svg); background-size: 57%; }
#socialMediaDiscord { background-image: url(images/logos/social/discord.svg); background-size: 77%; }
#socialMediaWebsite { background-image: url(images/logos/social/websiteicon.svg); background-size: 73%;}
#socialMediaGithub { background-image: url(images/logos/social/github_light.svg); background-size: 65%;}

#fadebehindbutton {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(to top, var(--black-2) 25%, transparent 75%);
}

#install-play-button {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    margin: 3vh;
    padding: 2vh;
    font-size: 7vh;
    letter-spacing: 0.35vh;
    text-transform: uppercase;
    font-family: Roboto Medium, Arial, sans-serif;
    display: block;
    border: none;
    text-shadow: 0px 0px 3.5vh var(--black);
    z-index: 1;
}

#collection-versions {
    width: 500;
    position: absolute;
    right: 27%;
    bottom: 15%;
    margin: 3vh;
    padding: 2vh;
    font-size: 3vh;
    background-color: #B35215;
    text-transform: uppercase;
    font-family: Roboto Medium, Arial, sans-serif;
    display: none;
    border: none;
    text-shadow: 0px 0px 3.5vh var(--black);
    z-index: 1;
}

#install-play-button:hover {
    filter: brightness(0.9);
}

#mod-version {
    background-color: var(--not-so-subtle-shadow);
    color: var(--white-2);
    position: absolute;
    left: 2vh;
    top: 2vh;
    padding: 1vh 1.35vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    font-size: 2.35vh;
}

#mod-version i {
    margin-right: 1vh;
}

#mod-version-text {
    font-family: Roboto Thin, Arial, sans-serif;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}
