html, body { height: 100%; }

body {
    font-family: Roboto Medium, Arial, sans-serif;
    display: flex;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(35,35,35,1) 100%);
    user-select: none;
}

#sidebar{
    min-width: 300px;
    width: 390px;
    background-color: #111;
    padding: 0px;
    z-index: 1;
    flex-direction: column;
    display: flex;
    overflow-x: hidden; /* How */
    flex: auto;
}

#sidebar-main {
    flex: auto;
    padding: 20px;
}

#quickplay
{
    flex: auto;
    height: auto;
    background-color: rgb(48, 48, 48);
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#quickplay h2 {
    margin: 0px;
    margin-top: 10px;
    color: whitesmoke;
    text-align: center;
}

#quickplay h3 {
    margin: 0px;
    margin-top: 10px;
    color: whitesmoke;
    stroke: #000;
    text-align: center;
}

.quickplay-row
{
    flex: auto;
    padding: 3px;
    height: auto;
}

.quickplay-row select
{
    display: block;
}

.quickplay-toggle
{
    flex: auto;
    height: auto;
    display: flex;
    flex-direction: column;

}

.quickplay-toggle > .trigger
{
    flex: initial;
    height: 50px;
    text-align: center;
}

.quickplay-toggle > .content
{
    flex: auto;
    transition: height 0.2s;
    height: auto;
    overflow: hidden;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}

.maps .content
{
    height: 240px;
}

.maps .content[aria-hidden="false"]
{
    overflow-y: scroll !important;
}

.content .map
{
    height: 70px;
    flex: initial;
    background-position-y: center;
}

.map input
{
    position: relative;
    left: 5px;
    top: 5px;
}

.content[aria-hidden="true"] {
    height: 0 !important;
}

#modlist-updating
{
    width: 300px;
    color: #CCC;
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
    padding: 20px;
    text-align: center;
}

.entry {
    margin: 0px 0px 10px 0px;
    height: 65px;
    border-radius: 50px;
    color: lightgrey;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.entrySelected {
    background-color: #B35215;
    color: #FFF;
    transition: 0s;
}

.entrySelected img {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.35);
}

.entry:last-child {
    margin: 0px;
}

.entry:hover {
    color: #FFF;
}

.entry:hover img {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.35);
}

.entry::before {
    content: "";
    background: #B35215;
    position: absolute;
    width: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100px;
    transition: 0.25s;
    z-index: -1;
    transform: skewX(-25deg);
}

.entry:hover::before {
    width: 135%;
    z-index: -1;
}

.modInfoSidebar {
    margin: 0px 7px;
}

.entry h2, .entry p {
    margin: 0;
}

.entry h2 {
    font-size: 25px;
    font-family: Roboto Light, Arial, sans-serif;
    line-height: 25px;
}

.entry p {
    font-size: 15px;
    font-family: Roboto Light, Arial, sans-serif;
    line-height: 18px;
}

.entry img {
    float: left;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    pointer-events: none;
}

.updatealertnotification {
    -webkit-mask-image: url(images/circle.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    text-align: center;
    position: absolute;
    right: 20px;
    width: 10px;
    height: 10px;
}

#boxOfButtons {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

#boxOfButtons button {
    width: 100%;
    font-size: 22px;
    font-family: Roboto Light, Arial, sans-serif;
    padding: 5px;
    transition: 0.2s;
    border-radius: 5px;
    margin-left: 10px;
}

#boxOfButtons button:first-child {
    margin-left: 0px;
}

#boxOfButtons button:hover {
    filter: brightness(1.25);
}

#boxOfButtons button:active {
    color: #EEE;
}

.mdi-loading::before {
    animation-name: rotateThatThing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.55, 0, 0.02, 0.99);
}

@keyframes rotateThatThing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(720deg); }
}

@keyframes updateAlert {
    0% { background-color: #388DF5; }
    100% { background-color: #2963A9; }
}

#update-button-download {
    background-color: #EBBD34;
}

#update-button-downloading {
    background-color: #F5F238;
    pointer-events: none;
}

#update-button-update {
    background-color: #388DF5;
    animation-name: updateAlert;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#update-button-updated {
    background-color: #47B82E;
    pointer-events: painted;
}

#launcherversion {
    width: 300px;
    color: #CCC;
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px 1px #000;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#contentdummy {
    width: 75%;
}

.defaultbg
{
    background-image: url(images/logos/tf2logo_dark_fade.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    opacity: 0.2;
}

#content {
    width: 75%;
    height: 100%;
    min-width: 235px;
    background-color: #2B2826;
    background-size: cover;
    background-position: center;
    display: none;
    overflow: hidden;
    position: relative;
    border-left: solid;
    border-color: #0F0F0F;
    transition: 0.2s;
    animation-name: fadeInSuperFancyTransition;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    flex-direction: column;
}

#content-area {
    flex: grow;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
}

#content-area-back
{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

#content-area-front
{
    pointer-events: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mod-info
{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
}

#boxOfModButtons {
    display: inline-flex;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
}

#serverlist {
    background-color: #FF8E37;
}

#remove-mod {
    background-color: #B74848;
}

#boxOfModButtons button {
    display: block;
    margin-left: 10px;
    padding: 10px;
    text-shadow: 1px 1px 20px #000;
    font-size: 1.5em;
    color: whitesmoke;
    border-radius: 50px;
    transition: 0.2s;
    z-index: 1;
}

#boxOfModButtons button:hover {
    filter: brightness(0.9);
    transform: scale(0.95);
}

#boxOfModButtons button:first-child {
    margin-left: 0px;
}

#boxOfModButtons button:active {
    background-color: #222;
    transform: scale(0.9);
}

#title-image-holder {
    max-width: 600px;
    margin: 0 auto;
    z-index: 0;
}

#title-image {
    width: 100% !important;
    pointer-events: none;
}

#title-header {
    font-size: 55px;
    font-family: Roboto Light, Arial, sans-serif;
    color: #CCC;
    line-height: 55px;
    text-align: center;
    font-weight: bold;
}

#content-text {
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
    font-family: Roboto Light, Arial, sans-serif;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    padding: 10px;
    transition: 0.2s;
    color: #FFF;
}

.modInfoBox {
    display: flex;
    margin: 0 auto;
    pointer-events: auto;
}

.modInfoBox button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    transition: 0.2s;
}

.modInfoBox button:hover {
    transform: scale(0.9);
    background-color: rgba(1,1,1,0.75);
    cursor: pointer;
}

/* SOCIAL MEDIA LOGOS */
#socialMediaTwitter { background-image: url(images/logos/social/twitter.svg); }
#socialMediaInstagram { background-image: url(images/logos/social/instagram.svg); background-size: 57%; }
#socialMediaDiscord { background-image: url(images/logos/social/discord.svg); background-size: 77%; }
#socialMediaWebsite { background-image: url(images/logos/social/websiteicon.svg); background-size: 73%;}
#socialMediaGithub { background-image: url(images/logos/social/github_light.svg); background-size: 65%;}

#fadebehindbutton {
    width: 100%;
    height: 35%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(to top, #111 25%, transparent 75%);
}

#install-play-button {
    width: 100%;
    margin: 0 auto;
    padding: 19px;
    font-size: 45px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: Roboto Medium, Arial, sans-serif;
    display: block;
    flex: initial;
    border: none;
    text-shadow: 1px 1px 25px #000;
    transition: 0.2s;
    z-index: 1;
}

#install-play-button:hover {
    filter: brightness(0.85);
}

#version {
    background-color: rgba(1, 1, 1, 0.55);
    color: ghostwhite;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px;
    font-size: 16px;
    /* font-family: monospace; */
    font-family: Roboto Thin, Arial, sans-serif;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#version-text {
    padding: 2px 0px 0px 7px;
}

.hidden {
    display: none;
}
