html, body { height: 100%; }

body {
    font-family: Roboto Medium, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 100%);
    user-select: none;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #333; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #888; }

#sidebar {
    min-width: 300px;
    width: 390px;
    background-color: #111;
    padding: 20px;
    z-index: 1;
}

.entry {
    background-color: #111;
    margin: 0px 0px 10px 0px;
    height: 65px;
    border-radius: 50px;
    transition: 0.2s;
    color: lightgrey;
    position: relative;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
}

.entry:hover {
    /* background-color: #353535; */
    cursor: pointer;
}

.entry::before {
    content: "";
    background: #B35215;
    position: absolute;
    width: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100px;
    transition: 0.25s;
    /* transition-timing-function: cubic-bezier(0.55, 0, 0.02, 0.99); */
    /* transition-timing-function: cubic-bezier(0.37, 0, 0.02, 0.99); */
    z-index: -1;
    transform: skewX(-25deg);
}

.entry:hover {
  color: #EEE;
}

.entry:hover::before {
  width: 135%;
  z-index: -1;
}

.entry h2, .entry p {
  margin: 0;
}

.entry h2 {
  font-size: 25px;
  font-family: Roboto Light, Arial, sans-serif;
  line-height: 25px;
}

.entry p {
  font-size: 15px;
  font-family: Roboto Light, Arial, sans-serif;
  line-height: 20px;
}

.modInfoSidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry img {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 7px;
  border-radius: 50px;
  pointer-events: none;
}

#boxOfButtons {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

#boxOfButtons button {
  width: 100%;
  font-size: 22px;
  font-family: Roboto Light, Arial, sans-serif;
  padding: 5px;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#boxOfButtons button:nth-child(1) {
  margin-left: 0px;
}

#boxOfButtons button:hover {
  filter: brightness(1.25);
}

.mdi-loading::before {
  animation-name: rotateThatThing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.55, 0, 0.02, 0.99);
}

@keyframes rotateThatThing {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(720deg); }
}

@keyframes updateAlert {
  0% { background-color: #388DF5; }
  100% { background-color: #2963A9; }
}

#update-button-download {
  background-color: #EBBD34;
}

#update-button-downloading {
  background-color: #F5F238;
  pointer-events: none;
}

#update-button-update {
  background-color: #388DF5;
  animation-name: updateAlert;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#update-button-updated {
  background-color: #47B82E;
  pointer-events: painted;
}

#contentdummy {
  width: 78.5%;
}

#content {
    width: 75%;
    min-width: 235px;
    background-color: #2B2826;
    background-size: cover;
    background-position: center;
    display: none;
    padding: 20px;
    overflow: hidden;
    position: relative;
    border-left: solid;
    border-color: #0F0F0F;
    transition: 0.2s;
    animation-name: fadeInSuperFancyTransition;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

@keyframes fadeInSuperFancyTransition {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#content-area {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#title-image-holder {
    width: 65%;
    margin: 0 auto;
    z-index: 0;
}

#title-image {
    width: 100% !important;
    pointer-events: none;
}

#content-text {
    margin: 0 auto;
    font-size: 22px;
    font-family: Roboto Light, Arial, sans-serif;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    padding: 0px 10px 10px 10px;
    transition: 0.2s;
    color: #FFF;
}

.modInfoBox {
    display: flex;
    margin: 0 auto;
}

.socialMedia {
    width: 35px;
    height: 35px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50px;
    margin-right: 5px;
    transition: .2s;
}

.socialMedia:last-child {
  margin-right: 0px;
}

.socialMedia:hover {
    transform: scale(0.9);
    background-color: rgba(1,1,1,0.75);
    cursor: pointer;
}

/* SOCIAL MEDIA LOGOS */
#socialMediaTwitter { background-image: url(images/logos/social/twitter.svg); }
#socialMediaInstagram { background-image: url(images/logos/social/instagram.svg); background-size: 65%; }
#socialMediaDiscord { background-image: url(images/logos/social/discord.svg); background-size: 80%; }
#socialMediaWebsite { background-image: url(images/logos/social/websiteicon.png); background-size: 75%;}
#socialMediaGithub { background-image: url(images/logos/social/github_white.png); background-size: 70%;}

#fadebehindbutton {
    width: 100%;
    height: 35%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(to top, #111 25%, transparent 75%);
}

#install-play-update {
    width: 100%;
    margin: 0 auto;
    padding: 19px;
    font-size: 45px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: Roboto Medium, Arial, sans-serif;
    display: block;
    border: none;
    text-shadow: 1px 1px 25px #000;
    position: relative;
    bottom: 90px;
    left: 0;
    transition: .2s;
    z-index: 1;
}

#install-play-update:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

#remove-mod {
    padding: 15px 25px;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Roboto Light, Arial, sans-serif;
    border: none;
    color: black;
    text-shadow: 1px 1px 25px #000;
    position: relative;
    bottom: 235px;
    left: 0;
    transition: .2s;
    float: right;
    z-index: 1;
}

/*
#version {
    display: block;
    background-color:rgba( 1, 1, 1, 0.5);
    color: ghostwhite;
    position: absolute;
    right: 0px;
    bottom: 60px;
    margin: 6px;
    padding: 6px;
    font-size: 15px;
    font-family: monospace;
}
*/

.hidden {
  display: none;
}

[tooltip] {
  position: relative;
}

[tooltip]:after {
  content: attr(tooltip);
  background-color: #111;
  border-radius: 5px;
  color: #CCC;
  font-family: Roboto Thin, Arial, sans-serif;
  font-size: 16px;
  position: absolute;
  padding: 5px;
  bottom: -2em;
  left: 0;
  white-space: nowrap;
  box-shadow: 0px 0px 20px rgba(50,50,50,0.5);
  z-index: 9999999;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s;
}

[tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
}
