html, body { height: 100%; }

body {
    background-color: #222;
    background-image: url(../images/backgrounds/creatorstf_patchnotes.png);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
    -webkit-user-select: none;
    animation-name: fadeInSuperFancyTransition;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
}

#wrapper {
    margin: 0px auto;
    width: 75%;
    color: #FFF;
    padding: 0 0 5vh;
}

#patchnotes {
    background-color: rgba(0,0,0,0.7);
    padding: 3vh;
    border-radius: 1vh;
    font-family: Roboto Thin, Arial, sans-serif;
}

h1 {
    margin: 5vh auto;
    font-family: Roboto Bold, Arial, sans-serif;
    font-size: 8vh;
    text-align: center;
    text-shadow: 0px 0px 2vh #000;
    color: #EEE;
}

h2 {
    margin: 0;
    padding-top: 3vh;
    font-size: 5vh;
    font-family: Roboto Medium, Arial, sans-serif;
    border-top: 0.1vh solid rgba(255,255,255,0.5);
}

h2:first-of-type {
    border-top: 0px;
    padding-top: 0px;
}

h3 {
    margin: 0;
    font-size: 2.1vh;
    font-family: Roboto Thin, Arial, sans-serif;
}

p {
    font-size: 2.3vh;
}

ul {
    list-style-image: url(../images/thatarrowfromthetfblog.svg);
    font-size: 2.7vh;
    font-family: Roboto Thin, Arial, sans-serif;
    padding: 0vh 5vh;
}

li {
    margin-bottom: 0.5vh;
}

li:last-child {
    margin-bottom: 0;
}

code {
    background-color: rgba(25,25,25,0.75);
    padding: 0.3vh 1vh;
    border-radius: 1vh;
    font-family: Roboto Thin, Arial, sans-serif;
    font-size: 2.5vh;
}
