html, body { height: 97%; }

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    background-image: url(../images/backgrounds/creatorstf.png);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
    -webkit-user-select: none;
    animation-name: fadeInSuperFancyTransition;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 0.25s;
}

@keyframes fadeInSuperFancyTransition {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #222; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #888; }

#modname {
    margin: 25px auto;
    font-family: Roboto Bold, Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 0px 20px #000;
    color: #EEE;
}

#wrapper {
    margin: 0px auto;
    width: 75%;
    color: #FFF;
}

#patchnotes {
    margin: 20px auto;
    background-color: rgba(0,0,0,0.65);
    padding: 25px 25px 10px 25px;
    border-radius: 5px;
    font-family: Roboto Thin, Arial, sans-serif;
}

h2 {
    margin: 0;
    padding-top: 25px;
    font-size: 39px;
    font-family: Roboto Medium, Arial, sans-serif;
    border-top: 1px solid rgba(255,255,255,0.5);
}

h2:first-of-type {
    border-top: 0px;
    padding-top: 0px;
}

h3 {
    margin: 0;
    font-size: 15px;
    font-family: Roboto Thin, Arial, sans-serif;
}

p {
    font-size: 16px;
}
ul {
    list-style-image: url(../images/thatarrowfromthetfblog.svg);
    font-size: 21px;
    font-family: Roboto Thin, Arial, sans-serif;
}

code {
    background-color: rgba(25,25,25,0.9);
    padding: 0px 5px;
    border-radius: 5px;
    font-family: Roboto Thin, Arial, sans-serif;
    font-size: 19px;
}
