html, body { height: 100%; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(90deg, rgba(255,181,64,1) 5%, rgba(250,182,75,1) 50%, rgba(255,206,129,1) 95%); */
    /* background: #FAB64B; */
    background: #D69225;
    background-image: url(../images/engineer_fix.svg);
    background-size: 25%;
    background-position: bottom right;
    background-repeat: no-repeat;
    user-select: none;
    opacity: 1;
    animation-name: fadeInSuperFancyTransition;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

#coglabel {
    background-color: #000;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: -100px;
    transform: rotate(45deg);
    overflow: hidden;
}

#coglabel i {
    color: #FAFAFA;
    position: absolute;
    top: 70px;
    left: 125px;
    font-size: 60px;
    transform: rotate(-45deg);

}

#launcherVersion {
    background-color: #111;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    overflow: hidden;
    color: #FFF;
    font-size: 16px;
    font-family: Roboto Thin, Arial, sans-serif;
}

h1, p { color: #222; }

h1 {
    font-family: Roboto Black, Arial, sans-serif;
    font-size: 80px;
    margin: 0px auto 10px auto;
    text-shadow: 0px 0px 2px #000;
    color: #FAFAFA;
}

p {
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 20px;
    margin: 5px 0px;
}

button {
    padding: 5px;
    border-radius: 5px;
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

button:first-child {
    margin-left: 0px;
}

.inputLabelRow {
    margin: 5px auto;
    text-align: center;
    text-shadow: 0px 0px 25px #000;
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 23px;
    color: #FFF;
}

.inputRow {
    width: 50%;
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.inputRow:nth-last-child(3) {
    margin: 0px !important;
}

input {
    width: 100%;
    padding: 5px;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
    text-align: center;
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 18px;
    box-shadow: -3px 3px 0px #000;
}

#reload-button {
    padding: 5px 10px;
}

#config-debug {
    background: radial-gradient(ellipse at bottom left, #555, #222);
    width: 75%;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    text-align: center;
}

#config-debug textarea {
    margin: 0 auto;
    width: 100%;
    height: 6em;
    font-family: monospace;
    color: #222;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    word-break: break-all;
    outline: 0;
    border: 0;
    user-select: none;
    resize: none;
}

#config-dontshow-button, #config-copycontents-button {
    padding: 5px 8px !important;
    font-size: 16px;
}

#config-dontshow-button:hover {
    border-color: rgb(179,22,1);
}
#config-dontshow-button:hover::before {
    background: rgb(179,22,1);
}
#config-copycontents-button:active {
    border-color: green;
}
#config-copycontents-button:active::before {
    background: green;
}

.inputRowConfig {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

#version-box
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 160px;
    height: 25px;
    background-color: black;
    text-align: center;
    padding: 2px;
}

#version-box p
{
    color: white;
    font-size: 14px;
}