html, body { height: 100%; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(90deg, rgba(255,181,64,1) 5%, rgba(250,182,75,1) 50%, rgba(255,206,129,1) 95%); */
    /* background: #FAB64B; */
    background: #D69225;
    background-image: url(../images/engineer_fix.svg);
    background-size: 25%;
    background-position: bottom right;
    background-repeat: no-repeat;
    user-select: none;
    opacity: 1;
    animation-name: fadeInSuperFancyTransition;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

#coglabel {
    background-color: #000;
    width: 35vh;
    height: 35vh;
    position: absolute;
    top: -22vh;
    left: -22vh;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3vh;
}

#coglabel i {
    color: var(--white-2);
    font-size: 10vh;
    transform: rotate(-45deg);

}

h1, p { color: #222; }

h1 {
    font-family: Roboto Black, Arial, sans-serif;
    font-size: 80px;
    margin: 0px auto 10px auto;
    text-shadow: 0px 0px 2px #000;
    color: #EEE;
}

p {
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    color: #EEE;
}

small
{
    font-size: 2vh;
}

button {
    border-radius: 1vh;
    margin-left: 2vh;
    transition: 0.2s;
}

button:first-child {
    margin-left: 0px;
}

.inputLabelRow {
    margin: 1vh auto;
    text-align: center;
    text-shadow: 0px 0px 3vh #0007;
    font-family: Roboto Medium, Arial, sans-serif;
    font-size: 5vh;
    color: #EEE;
}

.inputRow {
    width: 55%;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.inputRow:nth-last-of-type(3) {
    margin-bottom: 0px !important;
}

#reload-button {
    padding: 1vh 2vh;
}

#config-debug {
    background: radial-gradient(ellipse at bottom left, #555, #222);
    width: 75%;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    text-align: center;
}

#config-debug textarea {
    margin: 0 auto;
    width: 100%;
    height: 6em;
    font-family: monospace;
    color: #222;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    word-break: break-all;
    outline: 0;
    border: 0;
    user-select: none;
    resize: none;
}

#config-dontshow-button, #config-copycontents-button {
    padding: 5px 8px !important;
    font-size: 16px;
}

#config-dontshow-button:hover {
    border-color: rgb(179,22,1);
}
#config-dontshow-button:hover::before {
    background: rgb(179,22,1);
}
#config-copycontents-button:active {
    border-color: green;
}
#config-copycontents-button:active::before {
    background: green;
}

.inputRowConfig {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

#version-box {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: black;
    text-align: center;
    padding: 7px;
    border-radius: 0px 10px 0px 0px;
}

#version-box p {
    font-size: 2.5vh;
}