html, body { height: 100%; margin: 0; }

body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
    background-color: #111111;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #333; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #888; }

h1, h2, p { color: lightgrey; margin: 0; text-align: center; }

h1 {
    font-family: Roboto Black, Arial, sans-serif;
    font-size: 30px;
}

h2 {
    font-family: Roboto Regular, Arial, sans-serif;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
    display: block;
    width: auto;
}

p {
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 14px;
    margin: 5px 0px;
}

button {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    border: 0;
    outline: 0;
    font-family: Roboto Light, Arial, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    box-shadow: inset 0px 0px 3px #000;
    width: 100%;
}

table{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

tr {
    width: 100%;
    padding: 2px;
    text-align: center;
}

tr:nth-child(even){background-color: #292929;}
tr:nth-child(odd){background-color: #161616;}

.id{
    width: 10%;
}

.name{
    width: 50%;
}

.map {
    width: 20%;
}

.connect {
    width: 20%;
}

button:hover {
    background-color: #999;
}
